
:host{
   
    .card{
        height: 562px;
        width: 471px;
        position: relative;
        background-color: white;
        border-radius: 20px;
       &__title{
        color: #2f527b;
        font-size: 24px;
        position: relative;
        left: 24px;
        top: 26px;
    
       }
       &__content{
           display: flex;
           justify-content: center;
           flex-wrap: wrap;
           position: relative;
           top: 31px;
       
       } 
    }

    .send{
        position: absolute;
    bottom: 28px;
    right: 30px;
    }

}
