:host{
    width: 90%;
    height: 50px;
 
    color: #fff;


    cursor: pointer;
    margin-top: 30px;
    .selector {
        display: flex;
        justify-content: space-around;
        border-radius: 8px;
        &__result{
            display: flex;
            justify-content: center;
            align-items: center;
}     

&--success{
    background-color: #60bf88;
    border: 2px solid #60bf88;
}
&--error{

    background-color: #ea8282;
    border: 2px solid #ea8282;
}
    }

    .selector:focus{
        color: red;
    }


}
