<div tabindex="1" [class]="option.class">
  <span class="selector__option">
    <p>
      {{ option.letter }}
    </p></span
  >

  <span class="selector__country">
    <p>
      {{ option.title }}
    </p></span
  >

  <span
    *ngIf="option.isCorrect && isSelected"
    class="material-icons selector__result"
  >
    check_circle
  </span>

  <span
    *ngIf="!option.isCorrect && isSelected"
    class="material-icons selector__result"
  >
    cancel
  </span>

  <span
    *ngIf="!option.isCorrect && !isSelected"
    class="material-icons selector__result"
  >
  </span>
</div>
