:host{
    width: 90%;
    height: 50px;
    color: #6066d0;

    border: 2px solid rgba(96,102,208,.7);
    border-radius: 12px;
   
    cursor: pointer;
    margin-top: 30px;
   
    .selector {
        display: flex;
        justify-content: space-between;
        border-radius: 8px;
        padding-left: 5px;
        padding-right: 31px;
        &__result{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 15%;
}   

 &__country{
    width: 59%;
 }

 &__option{
    width: 21%;
    display: flex;
    justify-content: center;
 }

 
&--success{

 
    color: #fff;
    background-color: #60bf88;
   
}

 
&--error{
 
    color: #fff;
    background-color: #ea8282;
   
}
    }

    

}
:host:hover{
    background-color: #f9a826;
      
    border: 2px solid #f9a826;
    color: #f2f2f2;
    transition: color .2s ease;
}