 
  
   
    .selector {
        
        width: 400px;
        height: 56px;
        color: #6066d0;
        background-color: #FFFFFF;
        border: 2px solid #6066D0;
        box-sizing: border-box;
        border-radius: 12px;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;        
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 8px;
        padding-left: 5px;
        padding-right: 31px;
        &__result{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 15%;
        }   

            &__country{
                width: 59%;
            }

            &__option{
                width: 21%;
                display: flex;
                justify-content: center;
            }

 
                    &--success{

                    
                        color: #ffff;
                        background-color: #60BF88;

                    
                    }

 
                    &--error{
                    
                        color: #fff;
                        background-color: #ea8282;
                        transition: color .2s ease;

                    }
    }

    
    .selector:hover{
        background-color: #F9A826  ;
          
        border: 2px solid #f9a826;
        color: #f2f2f2;
        transition: color .2s ease;
    }
 
    @media (max-width: 533px) {
       
            .selector {
     
                width: 340px;
                }
       
    
      }


      @media (max-width: 400px) {
        .selector {
     
            width: 286px;
            height: 47px;
            }
    
      }